*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #eee;
}
.box1{
    width: 18%;
    height: 400px;
    margin-left: 30px; 
    background-color: #fff; 
    margin-top: 100px; 
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    transition: 1s;
    border: 5px solid #fff;

}
.text1{
    color: rgb(108, 186, 246);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
}
.text2{
    color: orange;
    text-align: center;
    font-size:40px ;
    font-weight: 700;

}
.text3{
    text-align: center;   
}
hr{
    margin: 20px auto;
    width: 80%;
}
.number h1{
    display: inline;
    text-align: center;
}
.number{
    text-align: center;
    margin-bottom: 15px;
}
button{
    background-color: orange;
    border-radius: 5px;
    border-color: orange;
    height: 60px;
    width: 200px;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 20px;
}
.box1:hover{
    border: 5px solid #29e2d9;
    transform: scale(1.1);
    
}